<div class="container" style="margin-top: 50px; text-align: center; margin-bottom: 50px; width: 100%;">
<h1>Sistema de filas simples</h1>
<br>
<div>
        <h1>Cliente</h1>
        <br>
        <h4>Selecione o tipo de senha desejada:</h4>
        <br>
        <select #tipoSenha>
            <option value="1">Senha Comum</option>
            <option value="2">Senha Prioritária</option>
        </select>
        &nbsp;
    <button class="btn btn-outline-success" (click)="adicionaCliente(tipoSenha.value)">PEGAR SENHA</button>
    <br>
    <h5>Sua senha:</h5>
    <textarea>{{senhaCliente}}</textarea>
</div>
<br>
<div class="container" style="margin-top: 10px; ">
    <h1>Caixas</h1>
    <br>
    <div class="row justify-content-center">
        <div>
            <div class="card" style="width: 18rem; text-align: center;">
                Ultima Chamada
                <textarea name="chamada">{{ultimaSenha}}</textarea>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center" style="align-self: center; align-items: center;">
        <div>
            <div class="card" style="width: 18rem; text-align: center;">
                Caixa Comum
                <textarea name="chamada">{{senha1}}</textarea>
                <div class="card-body" style="align-self: center;">
                    <button type="button" class="btn btn-outline-primary" (click)="chamadaCaixa(1)">Chamar Cliente</button>
                </div>
            </div>
        </div>
        &nbsp;
        <div>
            <div class="card" style="width: 18rem; text-align: center;">
                Caixa Prioritário
                <textarea name="chamada">{{senha2}}</textarea>
                <div class="card-body" style="align-self: center;">
                    <button type="button" class="btn btn-outline-primary" (click)="chamadaCaixa(2)">Chamar Cliente</button>
                </div>
            </div>
        </div>    
    </div>
    <br><br>
    <button class="btn btn-outline-danger" (click)="resetar()">Resetar</button>
</div>
</div>